<div class="os-container top-bar-links-box-container">
  <div class="top-bar-links-box-w">
    <div class="top-bar-links-box">
      <ul>
        <li>
          <div class="top-bar-link-phone">
            <i class="os-icon os-icon-phone"></i>
            <span><strong>Whats app: </strong> 848.928.4733</span>
          </div>
        </li>
        <li>
          <div class="top-bar-link-address">
            <i class="os-icon os-icon-location"></i>
            <span
              ><strong>Endereço: </strong> 645 Davidson ave, Los Angeles CA
              95716</span
            >
          </div>
        </li>
      </ul>
    </div>
    <ul class="bar-social" style="">
      <li>
        <a href="http://google.com" target="_blank"
          ><i class="os-icon os-icon-instagram"></i
        ></a>
      </li>
      <li>
        <a href="http://google.com" target="_blank"
          ><i class="os-icon os-icon-facebook"></i
        ></a>
      </li>
      <li>
        <a href="http://google.com" target="_blank"
          ><i class="os-icon os-icon-twitter"></i
        ></a>
      </li>
    </ul>
    <span class="top-bar-social-label">Minhas redes sociais:</span>
    {{ partial "social-icon" (dict "link" "https://www.facebook.com/Psic%C3%B3loga-D%C3%A9borah-Mazeron-225105784746485/" "svg" "icons-facebook") }}
    {{ partial "social-icon" (dict "link" "https://www.instagram.com/psideborahmazeron/" "svg" "icons-instagram") }}
  </div>
</div>
