@font-face {
  font-family: 'Selima';
  src: url('../fonts/Selima.woff2') format('woff2'),
      url('../fonts/Selima.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/CaviarDreams.woff2') format('woff2'),
      url('../fonts/CaviarDreams.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
