.top-bar-link-phone {
  background-color: #e6f9f6;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 3px 5px 3px 10px;
  vertical-align: middle;
  font-size: 18px;
}

.top-bar-link-phone svg {
  width: 22px;
  position: relative;
  top: 4px;
  margin-right: 3px;
}

.top-bar-links-box-container {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}

.top-bar-link-phone a {
  text-decoration: none;
}

.top-bar-links-box-w {
  display: flex;
  justify-content: space-between;
}

.top-bar-links-box ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-links-box li {
  margin-right: 20px;
}

.bar-social {
  display: flex;
}

.top-bar-social-label {
  padding: 5px;
}

.logo-image {
  position: relative;
  bottom: 14px;
}

.logo-typo {
  position: relative;
  right: 25px;
}